{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container">
        <div class="desc">
            <p> Expert guidance on environmental health issues, offering weather-related health advice, air quality
                monitoring, and personalised tips to help individuals manage seasonal allergies, extreme temperatures,
                and home environment </p>
        </div>
        <img class="indexArt" src="{{ url_for('static', filename='indexArt.svg') }}" alt="art">
    </div>
</body>

{% endblock %}