{% extends 'base.html' %}

{% block content %}

<div class="login-container">
    <img class="registerArt" src="{{ url_for('static', filename='registerArt.png') }}" alt="">

    <div class="login-page-head">
        <h2>Welcome Back</h2>
        <form class="register-form" action="/login" method="post">
            <div class="input-group">
                <input type="email" id="email" name="email" required /><br />
                <label for="email">email:</label><br />
            <div class="input-group">

                <a href="/register" class="btn">register</a>
        </form>
    </div>
</div>

{% endblock %}