body {
    height: 100%;
    overflow-y: hidden;
    background-color: #ffffff;
 }

 nav {
    font-family: 'Major Mono Display', serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    text-transform: lowercase;
    display: flex;
    gap: 20px;
}

::placeholder {
    font-family: 'Nixie One', cursive;
}

.btn {
    background: none;
    border: none;
    padding: 0;
    font-family: 'Major Mono Display', serif;
    text-transform: lowercase;
    color: #000000a1 !important;
    opacity: 0.7;
    font-size: medium;
}


.btn:hover {
    color: #000000 !important;
    opacity: 1;
}


nav a {
    color: #000000 !important;
    opacity: 0.7;
}

nav a:hover {
    color: #000000 !important;
    opacity: 1;
}

.clock {
    font-family: 'Nixie One', cursive;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding: 10px;
    margin-left: 20px;
}

.clock-container {
    display: flex;
    align-items: center;
}

.dayCycleIcon {
    width: 40px;
    height: 40px;
    order: 2;
    margin-left: 15px;
}

.time-text {
    display: block;
    text-align: right;
    font-family: 'Major Mono Display', serif;
    text-transform: lowercase;
    font-size: 0.5rem;
    order: 1;

}

.digital-time {
    font-size: 2rem;
    color: #333;
}

#wordTime {
    font-size: 0.8rem;
    color: #555;
}
.title h1 {
    font-family: 'Major Mono Display', serif;
    font-weight: normal !important; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    font-size: x-large;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 70px; 
    flex-direction: row; 
    margin-top: -100px;
}

.desc {
    flex: 1; 
    font-family: 'Nixie One';
    font-weight: 400;
    font-size: 24px;
    line-height: 49px;
    letter-spacing: -0.02em;
    color: #000000;
    max-width: 586px;
}


.login-bar {
    font-family: 'Major Mono Display', serif;
    position: absolute;
    right: 170px;
    top: 65px;

    text-transform: lowercase;
    display: flex;
    gap: 20px;
}

.login-bar a {
    color: #000000 !important;
    opacity: 0.7;
}

.login-bar a:hover {
    color: #000000 !important;
    opacity: 1;
}

.registerArt {
    flex: 1; 
    max-width: 440px;
    height: auto;
    margin-top: 90px

}

.loginArt {
    flex: 1; 
    max-width: 550px;
    height: auto;
    margin-top: 120px

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    gap: 70px; 
    flex-direction: row; 
    align-items: flex-start;
}



.indexArt {
    flex: 2; 
    max-width: 600px;
    height: auto;
    filter: contrast(100%) grayscale(100% ) brightness(100%) exposure;
}

.login-page-head {
    flex: 1; 
    font-family: 'major mono display';
    font-size: xx-large;
    line-height: 49px;
    letter-spacing: -0.02em;
    color: #000000;
    max-width: 586px;
    text-transform: lowercase;
    margin-top: 180px;
}

.welcome-page-head {
    flex: 1; 
    font-family: 'major mono display';
    font-size: xx-large;
    line-height: 49px;
    letter-spacing: -0.02em;
    color: #000000;
    max-width: 586px;
    text-transform: lowercase;
    margin-top: 120px;
}


form {
    display: flex;
    flex-direction: column;
}

.register-form {
    margin-top: -20px

}


.input-group {
    position: relative;
    max-width: 400px;
}


input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 5px 0;
    background: transparent;
    color: #333;
    font-family: 'Nixie One', cursive;
}

input:focus {
    border-bottom: 1px solid #666;
}

label {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}


input:focus + label,
input:not(:placeholder-shown) + label {
    top: -20px;
    font-size: 14px;
    color: #666;
}

.login-btn{
    text-decoration: underline;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-right: 200px;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 0px;
    margin-right: 200px;

}

.social-buttons .login-btn {
    margin-right: 0;
}


.drop-group {
    font-family: 'Nixie One', cursive;
    font-size: 16px;
    color: #aaa;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    width: fit-content;
    position: relative;
    text-transform: capitalize;
    margin-top: 12px;
    max-width: 400px;
    min-width: 400px;

}

.drop-group select {
    border: none;
    background: transparent;
    font-size: inherit;
    color: inherit;
    appearance: none;
    outline: none;
    cursor: pointer;
    padding-right: 20px;
    font-family: 'Nixie One', cursive;
    text-transform: capitalize;

}

.drop-group::after {
    content: "▼";
    font-size: 12px;
    color: #aaa;
    position: absolute;
    right: 5px;
    pointer-events: none;
}

.drop-group select:focus {
    color: #666;
}